<!DOCTYPE HTML>
<html>
 <head>
	<title>I am the <%= subject %></title>
 </head>

 <body>
  <h1><center>I am the <%= subject %></center></h1>

  <p><center>
  	I am he as you are he as you are me<br>
  	And we are all together<br>
  	See how they run like pigs from a gun see how they fly<br>
  	I'm crying<br>
  </center></p>

  <p><center>
  	Sitting on a cornflake waiting for the van to come<br>
  	Corporation teeshirt, stupid bloody Tuesday<br>
  	Man you been a naughty boy. You let your face grow long<br>
  	I am the eggman, they are the eggmen<br>
  	I am the <%= subject %>, goo goo goo joob<br>
  </center></p>

  <p><center>
  	Mister City Policeman sitting, pretty little policemen in a row<br>
  	See how they fly like Lucy in the sky, see how they run<br>
  	I'm crying, I'm crying<br>
  	I'm crying, I'm crying<br>
  </center></p>

  <p><center>
  	Yellow matter custard dripping from a dead dog's eye<br>
  	Crabalocker fishwife pornographic priestess<br>
  	Boy you been a naughty girl, you let your knickers down<br>
  	I am the eggman, they are the eggmen<br>
  	I am the <%= subject %>, goo goo goo joob<br>
  </center></p>
  
  <p><center>
  	Sitting in an English garden waiting for the sun<br>
  	If the sun don't come<br>
  	You get a tan from standing in the English rain<br>
  	I am the eggman, they are the eggmen<br>
  	I am the <%= subject %>, goo goo goo joob goo goo goo goo joob<br>
  </center></p>
  
  <p><center>
  	Expert textpert choking smokers<br>
  	Don't you think the joker laughs at you? (Ha ha ha! He he he! Ha ha ha!)<br>
  	See how they smile like pigs in a sty, see how they snied<br>
  	I'm crying<br>
  </center></p>
  
  <p><center>
  	Semolina pilchard climbing up the Eiffel Tower<br>
  	Elementary penguin singing Hare Krishna<br>
  	Man you should have seen them kicking Edgar Alan Poe<br>
  	I am the eggman, they are the eggmen<br>
  	I am the <%= subject %>, goo goo goo joob goo goo goo joob<br>
  	Goo goo goo joob goo goo goo joob<br>
  	Goo gooooooooooo jooba jooba jooba jooba jooba jooba<br>
  	Jooba jooba<br>
  	Jooba jooba<br>
  	Jooba jooba<br>
  </center></p>
 </body>
</html>